body {
    font-family: Arial;
    padding: 30px 20px;
    margin: 0;
    background: linear-gradient(to left, #6cc9e0,#89a8c5,#505f5f)
    
}

h1 {
    color: rgb(14, 0, 139);
    text-align: center;
}

h2 {
    color: rgb(153, 43, 226);
}

img {
    border-radius: 16px;
    width: 100%;
    max-width: 400px;
    height: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.384);
    transition: 0.3s;
}

img:hover {
    transform: scale(1.03);
}

p {
    line-height: 1.6;
}

a {
    display: inline-block;
    padding: 8px 14px;
    background: #1a4ed8;
    color: white;
    border-radius: 8px;
    margin-bottom: 25px;
    transition: 0.3s;
}

a:hover {
    background: #0f2fa8;
}

main {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 16px;
}

section {
    background: rgba(225, 225, 225, 0.418);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.342);
    max-width: 100%;
}

section > * {
    margin-bottom: 10px;
}

section:hover {
    transform: translateY(-3px);
    transition: 0.3s;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

footer {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 16px;
}

.container {
    padding: 5px;
    text-align: center;
    background: rgba(225, 225, 225, 0.418);
    backdrop-filter: blur(10px);
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.342);
    max-width: 100%;
}

.container:hover {
    transform: translateY(-3px);
    transition: 0.3s;
}

* {
    box-sizing: border-box;
}